.paginationBar::ng-deep {
  display: block!important;
}
.paginationBar::ng-deep .ngx-pagination .current {
  border: 2px black solid!important;
  background: #f5f6fa!important;
  color: black!important;
  font-weight: bold;
}

.pointer{
  cursor: pointer;
}