<nav class="dt w-100 border-box pv3 ph1 ph5-ns h2">
    <a class="dtc v-mid mid-gray link dim w-25" href="#" title="Home">
      <img src="../assets/transfluent_tf_only_large-magento_1_1.png" class="dib bg-white-90 w2 h2 br-100" alt="Site Name">
    </a>
    <div class="dtc v-mid w-75 tr">
      <a class="link white b f6 f5-ns dib mr3 mr4-ns" title="About">// Transfluent</a>
      <a class="link dim white f6 f5-ns dib mr3 mr4-ns" href="#" title="Store">Blog</a>
      <a class="link dim white f6 f5-ns dib" href="#" title="Contact">Join Us</a>
    </div>
</nav>