<div id="searchBox" class="w-100 w-90-ns flex-column center mh5 mv4">
  <h2 class="tc pv3 pt4-l mv0">Real Time Search</h2>
  <form class="inline-flex-l center w-90 w-75-ns items-center mh6-l mh5-m">
    <select class="di-l mv3-l mv2 w-100 w-50-l mr3-l h2 b--black-20 bg-white ba softShadow"
      (change)="onChange($event.target.value)">
      <option *ngFor="let type of filterTypes" [value]="type.value">
        {{type.display}}
      </option>
    </select>
    <input class="di-l w-100 mv3-l mv2 w-50-l ml3-l br2 ph2 h2 bg-white b--black-20 ba softShadow" type="text" placeholder="Search"
      (keyup)="onKey($event.target.value)">
  </form>
</div>
